 /*  général */
body{
    margin: 0;
    
}


    


.banniereacc
{
    background: url(images/tradingban11.jpg);
    background-size:cover;
    width: 100%;
    height:200px;
}
.intro{
    color:grey;
    font-family:fantasy;
    
}

.explication{
    font-family: fantasy;
    color:grey;
}
#bouton_BTC{
    text-decoration: none;
    color: white;
    width: auto;
    padding: 0% 2%;
    min-width: 140px;
    height: 40px;
    border-radius: 7px;
    background-color: darkgrey;
    float: left;
    display: block;
    position: relative;
    font-family:fantasy;
}
#bouton_BTC:hover{
    background-color: black;
    color:green;
}
#bouton_SOL{
    text-decoration: none;
    color: white;
    width: auto;
    padding: 0% 2%;
    min-width: 140px;
    height: 40px;
    border-radius: 7px;
    background-color: darkgrey;
    float: left;
    display: block;
    position: relative;
    font-family:fantasy;
}
#bouton_SOL:hover{
    background-color: black;
    color:green;
}
#bouton_AVAX{
    text-decoration: none;
    color: white;
    width: auto;
    padding: 0% 2%;
    min-width: 140px;
    height: 40px;
    border-radius: 7px;
    background-color: darkgrey;
    float: left;
    display: block;
    position: relative;
    font-family:fantasy;
}
#bouton_AVAX:hover{
    background-color: black;
    color:green;
}
#bouton_ETH{
    text-decoration: none;
    color: white;
    width: auto;
    padding: 0% 2%;
    min-width: 140px;
    height: 40px;
    border-radius: 7px;
    background-color: darkgrey;
    float: left;
    display: block;
    position: relative;
    font-family:fantasy;
}
#bouton_ETH:hover{
    background-color: black;
    color:green;
}
.section{
    font-family: fantasy;
}