/*  général */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    transition: background-color 0.4s;
    
}

/* Footer */
.footer{
    height: 15vh;
    background-color: bisque;
    position: relative;    
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 30px;
}

.lienAPropos{
text-decoration: none;
width: fit-content;
position: relative;
left: 50px;
top: 25px;
}



/* Header */
:root{
    --hauteurMenu : 70px;
}

header{
    width: 60%;
    height: 70px;
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo_site{
    height: 100%;
}

.menu_navigation{
    width: 80%;
}

:root{
    --hauteurMenu : 80px;
}

.menuNavigation{
    position: sticky;
    top: 0;
    width: 100%;
}

.menuNavigation > ol {
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style-type: none;
    
}

.menuNavigation > ol > li{
    position: relative;
    flex:1;
}


.sousMenu{
    flex-direction: column;
    padding: 0;
    background-color: beige;
    border-radius: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 0px;
    transition: padding 0.6s, height 0.4s;

    
}

.sousMenu > a{
    opacity: 0;
    transition: opacity 0.4s;
}


.menuDeroulant p{
    display: inline-block;
    transition: transform 0.4s;
    height: fit-content;

}
.nonDeroulant p {
    display: inline-block;
}

.menuDeroulant:hover p{
    transform: rotate(90deg);
}

.menuDeroulant:hover > .sousMenu{
    display: flex;
    opacity: 1;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.menuDeroulant:hover  > .sousMenu >a{
    opacity: 1;
}




#btnColorChange{
    border: none;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    background-color: white;
    border-radius: 400px;
}

#iconeColorMode{
    height: 20px;
}

.menu_navigation > .menuNavigation > ol > li > a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: large;
}

.sousMenu > a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    
}

/*banière accueil*/
#banniere
{
    height: 400px;
    background: url('images/banière.png') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

.titreBaniere{
    text-align: center;
    font-size: 2em;
}
.btnBaniere{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bouton_baniere{
    text-decoration: none;
    color: white;
    width: auto;
    padding: 0% 2%;
    min-width: 140px;
    height: 40px;
    border-radius: 7px;
    background-color: #37ABFF;
    line-height: 40px;
    text-align: center;
    position: relative;
    top: 180px;
    transition: color 0.4s, background-color 0.4s;
}

.bouton_baniere:hover{
    background-color: black;
    color:orange;
}

/*Contenu page acceuil*/
/* réglage de la largeur d'affichage de la page */
#presentationSite{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.textPresentation h1{
    text-align: center;
}

.contenu{
    background-color: #D9FDFF;
}

.tradingMinnage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #D9FDFF;
    border-bottom: none;
    border-top: none;
}

.textPresentationTrading{
    width: 50%;
    background-color: #FFF7F4;
    border: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.textPresentationMinnage{
    width: 50%;
    background-color: #FFF7F4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}
.gifMinnage{
    width: 50%;
    
}
.gifTrading{
    width: 50%;
}

.videoPresentation{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.boutonPresentation{
    text-decoration: none;
    color: white;
    padding: 1% 3%;
    min-width: 140px;
    height: 40px;
    border-radius: 7px;
    background-color: #37ABFF;
    line-height: 40px;
    text-align: center;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    transition: color 0.4s, background-color 0.4s;
}

.boutonPresentation:hover{
    background-color: black;
    color:orange;
}



/*Page de trading*/
#explications{
    margin: auto 7%;
}

.listeGraphiques{
    display: flex;
    flex-direction: column;
}

.listeGraphiques > p{
    padding-left: 30%;
}

.listeGraphiques > p > a{
    width: fit-content;
}


/*Page trading 2*/
albumTable {

    border-collapse: collapse; /* pour que toutes les cellules aient une seule bordure*/
    border: 2px solid rgb(233, 27, 27);
    margin:auto;
            
   }

albumTable td,albumTable th {
     
     border: 1px solid rgb(12, 1, 1);
     padding: 10px 20px;
     text-align: center;
   }

 
.titre{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.precedentSuivant{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.nextPreviousButton{
    margin: 0 100px;
}

#nombrePages{
    margin-left: auto;
    margin-right: auto;
}

/*Page de minning*/

.contenuMinning{
    width: 80%;
    margin: auto auto;;
}
td, th {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    background-color: beige
}

table{
    margin:0 auto;
    border: 2px solid black;
    border-collapse: collapse;    
}

.col_1{
    background-color: grey;
    text-align: center;
    padding: 20px;
}

.recette_col{
    text-align: left;
    padding-left: 15px;
    padding-right: 30px;
    background-color: beige;
}

.prix_col{
    text-align: right;
    padding-left: 30px;
    padding-right: 15px;
    background-color: beige;
}

.formFields{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formFields > div{
    margin: 0 30px;
}

.formButtons{
    width: fit-content;
    margin: 40px auto;
}

.formButtons > .formButton{
    border: none;
}
/*Page de présentation*/
#presentation-equipe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.presentation-individuelle{
    width: 30%;
    height: 550px;
    border: solid black 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presentation section img{
    width: 150px;
}
.presentation-individuelle > .presentation{
    display: flex;
    flex-wrap: wrap;

}

.presentationNom{
    width: 50%;
}

.btnLinkdin{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.boutton-linkdin{
    padding-left: 20px;
    padding-right: 20px;
}

.presentation{
    margin-left: 10px;
    margin-right: 10px;

}
